name: R-CMD-check

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  R_CMD_CHECK_ARGS: --as-cran --no-manual --no-build-vignettes
  _R_CHECK_FORCE_SUGGESTS_: false
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'devel'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'oldrel-1'}
          - {os: windows-latest, r: 'release'}
          - {os: macos-latest, r: 'release'}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: ${{ matrix.config.os != 'macos-latest' }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual","--as-cran","--no-build-vignettes","--no-examples")'
          error-on: '"error"'
